{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Integration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="{% static 'website/images/globe-favicon.png' %}"/>
  <link rel="stylesheet" href="{% static 'website/boots/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'website/boots/css/font-awesome.min.css' %}">
  <script src="{% static 'website/boots/js/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'website/boots/js/bootstrap.min.js' %}"></script>
</head>

<body style="margin: 0;">

<h2 style="width: 100%; text-align: center;">Google Trends Clone<hr style="width: 200px;"></h2>

<form style="text-align: center; width: 100%;" action="{% url 'website:index' %}" method="GET">
	<div style="width: 100%; padding: 0 5% 25px 5%;">
		<input type="text" placeholder="Enter word to search..." id="search-item" name="search-item" style="font-family: serif; width: 250px; padding: 7px 4px 6px 15px; outline-color: rgba(49, 79, 79, 1); border-radius: 4px; border: 1px solid #ccc; color: #555; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" required="required">
	</div>	
	<div>
		<button class="btn btn-danger" type="submit">Search <span class="fa fa-search"></span></button>
	</div>
</form>

<hr style="width: 200px;">

{% if research_item %}

<!-- Graph call script -->
<script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1480_RC02/embed_loader.js"></script> 
<!-- End Graph call script -->

<h2 style="padding-left: 10px; font-size: 28px; color: #555;">Interest Over Time <i class="fa fa-area-chart"></i></h2>
<!-- Interest over time script -->
<div id="interest-over-time-container">
<script type="text/javascript"> 
	trends.embed.renderExploreWidget(
		"TIMESERIES", 
		{"comparisonItem":[{"keyword":"{{research_item}}","geo":"ZA","time":"today 12-m"}],"category":0,"property":""}, 
		{"exploreQuery":"q={{research_item}}&geo=ZA&date=today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}
	); 
</script>
</div>
<!-- End Interest over time script -->

<br>
<br>
<br>
<hr>
<br>

<h2 style="padding-left: 10px; font-size: 28px; color: #555;">Interest By Subregion <i class="fa fa-pie-chart"></i></h2>
<!-- Sub region script -->
<div id="interest-subregion-container">
<script type="text/javascript"> 
	trends.embed.renderExploreWidget(
		"GEO_MAP", 
		{"comparisonItem":[{"keyword":"{{research_item}}","geo":"ZA","time":"today 12-m"}],"category":0,"property":""}, 
		{"exploreQuery":"q={{research_item}}&geo=ZA&date=today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}
	); 
</script>
</div>
<!-- End Sub region script -->

<br>
<br>
<hr>
<br>

{% endif %}

</body>
</html>